@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: black;
  background-size: 8px;
  font-family: 'Nunito';
  font-size: 20px;
}

body p {
  text-shadow: 0 0 20px black;
}

.clearfix {
  clear: both;
}

.box1 {
  font-weight: normal;
  padding: 0 0;
  border: 3px solid #ee67fa;
  margin: 0 auto;
  border-radius: 1.618%;
  overflow-y: hidden;
  overflow-x: scroll;
}

.box1:hover {
  font-style: italic;
}

.box-container {
  width: 100%;
}

.body-grid {
  width: 70%;
  text-align: center;
  display: block;
  color: #ee67fa;
  top: 610px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.color-1 {
  background: black;
  color: #ee67fa;
  transition: 0.8s;
}

.color-1:hover {
  font-weight: bold;
}

.color-2 {
  background: #ee67fa;
  color: black;
  transition: 0.8s;
}

.color-2:hover {
  font-weight: bold;
}

.box1 {
  height: 600px;
  width: 970.820393249936908922752100619382870632185507883457717281269173623156277691342698243243225136346824908524528452321350512759803173341221590759080364600358126600334519575637497433829935967919569741607284051252601355010270177242193326259297617291757777881686628898552207322044835327726728495477114172189186695446265924628069682297395080731059246036653275269262398868549530764499932274404591302345107873004997537496445534418224001687262565730626706668318919028460702279995948801879239056813604025248842607907714213656513169061183406980137271419869786700870752693734665857500181617693702015027860294626589166170298760998223457560515786992035483900266726952911831079897223040313329947477200517679294408679029596059415840969910542456857279337886103566423576698737794588977433312511487421144361210367984830520566655566717537165924965030787308937713073348856368274048710213424148346367169605213029771382755588726810733953194162466142337193180919169086268188998446641556532045777360545363139036665122121683617264604336258733636363552995368005573114024033354537013771856538748941312732744926640388220433944087859838343696996795074732382377385422502039631372614542141508320824874679741887346744830682050387587193224983833928042666969238138925060613625126184124272820650205637264577677353920723392570745613613438582270575741064105331192915308123843174331136096855556044091136926065291678672653339133479157681377320138086626216195380468185115670845271157326230126581054961762815551125646673079950169014334809599987338632035392817459155823734640230203956935915813372541787918548365586353930516929252614489588308848707620036143340972466393469966118533994570100819686731659228917863260551798887914314683868923868448569046332705049616751835922739125938191334068846418102373043px;
}

.box2 {
  font-weight: normal;
  padding: 0 0;
  border: 3px solid #ee67fa;
  margin: 0 auto;
  border-radius: 1.618%;
  overflow: hidden;
  z-index: 2;
  position: relative;
  bottom: 600px;
  left: 300px;
  background-color: #ee67fa;
}

.box2 {
  height: 600px;
  width: 370.820393249936908922752100619382870632185507883457717281269173623156277691342698243243225136346824908524528452321350512759803173341221590759080364600358126600334519575637497433829935967919569741607284051252601355010270177242193326259297617291757777881686628898552207322044835327726728495477114172189186695446265924628069682297395080731059246036653275269262398868549530764499932274404591302345107873004997537496445534418224001687262565730626706668318919028460702279995948801879239056813604025248842607907714213656513169061183406980137271419869786700870752693734665857500181617693702015027860294626589166170298760998223457560515786992035483900266726952911831px;
}

.box2:hover {
  font-style: italic;
}

.box3 {
  font-weight: normal;
  padding: 0 0;
  border: 3px solid #ee67fa;
  margin: 0 auto;
  border-radius: 1.618%;
  overflow: hidden;
  z-index: 3;
  position: relative;
  bottom: 829.2px;
  left: 300px;
  background-color: black;
}

.box3 {
  height: 229.17960675006309107724789938061712936781449211654228271873082637684372230866004858496428792939965126783004934848321662344837928966479939579923497962705424952746740693897056856460731911675810486187123966041648903845324935084895566787308px;
  width: 370.8px;
}

.box3:hover {
  font-style: italic;
}

.box4 {
  font-weight: normal;
  padding: 0 0;
  border-top: 3px solid black;
  border-left: 3px solid #ee67fa;
  border-right: 3px solid #ee67fa;
  border-bottom: 3px solid #ee67fa;
  margin: 0 auto;
  border-radius: 1.618%;
  overflow: hidden;
  z-index: 4;
  position: relative;
  bottom: 1058.4px;
  left: 186px;
  background-color: #ee67fa;
}

.box4 {
  height: 229.179px;
  width: 141.6407864998738178455042012387657412643710157669154345625383472463125553826843472914px;
}

hr {
  background-color: #ee67fa;
}

.box4:hover {
  font-style: italic;
}

.box5 {
  font-weight: normal;
  padding: 0 0;
  border: 3px solid #ee67fa;
  margin: 0 auto;
  border-radius: 1.618%;
  overflow: hidden;
  height: 87.5px;
  width: 141.66px;
  z-index: 5;
  position: relative;
  bottom: 1287.6px;
  left: 186px;
  background-color: black;
}

.box5 {
  height: 87.538820250189273231743698141px;
  width: 141.640px;
}

.box5:hover {
  font-style: italic;
}

.box6 {
  font-weight: normal;
  padding: 0 0;
  border-top: 3px solid black;
  border-left: 3px solid #ee67fa;
  border-right: 3px solid #ee67fa;
  border-bottom: 3px solid black;
  margin: 0 auto;
  border-radius: 1.618%;
  overflow: hidden;
  z-index: 6;
  position: relative;
  bottom: 1375.1px;
  left: 227px;
  background-color: #ee67fa;
}

.box6 {
  height: 87.539px;
  width: 54.1019px;
}

.box6:hover {
  font-style: italic;
}

.box7 {
  font-weight: normal;
  padding: 0 0;
  border: 2px solid #ee67fa;
  margin: 0 auto;
  border-radius: 1.618%;
  overflow: hidden;
  z-index: 7;
  position: relative;
  bottom: 1406.5px;
  left: 227px;
  background-color: black;
}

.box7 {
  height: 27.9px;
  width: 54.102px;
}

.box7:hover {
  font-style: italic;
}

.main-content h1 {
  font-size: 60px;
  margin-bottom: 0;
}

.main-content p {
  width: 60%;
  margin: auto;
  font-weight: lighter;
  font-size: 25px;
}

.code-content img {
  width: 100%;
}

.btn {
  background-color: #ee67fa;
  padding: .8em 1.5em;
  border-radius: 0px;
  margin: 0 10px;
  display: inline;
  border-radius: 16.18px;
  transition: all 0.8s;
  font-weight: bold;
}

.btn a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.btn:hover {
  background-color: black;
  border: 3px solid #ee67fa;
}

.btn:hover a {
  color: #ee67fa;
}

.code-content {
  align-items: center;
}

.code-content p {
  text-align: center !important;
}
